<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   http://code.alibabatech.com/schema/dubbo
	   http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- Dubbo服务相关 -->
	<dubbo:application name="api-desktop" />
	<dubbo:registry address="${dubbo.registry.address}"
		check="false" />
	<dubbo:consumer timeout="600000" retries="0" check="false" />

	<!-- Dubbo服务声明 -->
	<!-- Dubbo服务声明: 权限模块 -->
	<dubbo:reference id="userService"
		interface="com.xiehui.api.permission.service.user.UserService"
		version="1.0.0" />
	<dubbo:reference id="roleService"
		interface="com.xiehui.api.permission.service.role.RoleService"
		version="1.0.0" />
	<dubbo:reference id="menuService"
		interface="com.xiehui.api.permission.service.menu.MenuService"
		version="1.0.0" />
	<dubbo:reference id="rightService"
		interface="com.xiehui.api.permission.service.right.RightService"
		version="1.0.0" />


	<!-- 自动扫描服务 -->
	<context:component-scan base-package="com.xiehui.api.desktop.service" />
</beans>
